*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.restaurant-page{
    background-color: #f6f6f6;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-1{
    width: 100%;
    /* height: 60vh; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* background-color: blue; */
}
.first-background{

    /* width: 70%; */
    height: 100%;
    /* width: 70%; */
    display: flex;
    position: absolute;
    right: 0;
    background-size: cover;
    margin-top: -9%;
    /* z-index:; */
}
.landing{
    width: 100%;
    /* height: 80vh; */
    /* background-color: white; */
    display: flex;
    /* padding-bottom: 30px; */
    gap: 100px;    
    flex-direction: column;    
}
nav{
    width: 100%;
    /* height: 50px; */
    /* background-color: blanchedalmond; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
    margin-top: 1.5em;
}
.nav-link{
    display: flex;
    text-decoration: none;
    gap: 30px;
}
.nav-link a{
    text-decoration: none;
    align-items: center;
    color: black;
}
.nav-button h6{
    padding: 15px 40px;
    background-color: white;
    border: 0;
    border-radius: 20px;
}
.favorite-fram{
    width: 90%;
    display: flex;
    align-items: center;
    /* background-color: beige; */
    /* justify-content: space-around; */
    margin-left: 15%;
    margin-top: -2%;
    z-index: 99;
}
.food-intro{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px; 
    /* margin: 90px 40px; */
}
.food-intro h1{
    font-size: 50px;
}
.food-intro p{
    color: gray;
}
.intro-food img{
    width: 70%;
}
.food-intro button{
    background-color: #FE9E0D;
    border: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 30%;
    padding: 15px;
    border-radius: 20px;
    color: white;    
}
.section-2{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    /* align-items: center; */
    background: url(./img/About\ Section\ Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: center;
    /* background-color: blue; */
}
.favorite-fram-2{
    width: 90%;
    display: flex;
    align-items: center;
    gap: 80px;
    /* background-color: beige; */
    /* justify-content: space-around; */
    /* margin-left: 70px; */
}
.food-intro-2{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    /* margin: 70px 40px; */
}
.food-intro-2 h1{
    font-size: 50px;
}
.food-intro-2 h3{
    color: gray;
}
.intro-food-2{
    width: 40%;
}
.intro-food-2 img{
    width: 100%;
}
.one{
    background-color: #FE9E0D;
    border: 0;
    display: flex;
    width: 100px;
    height: 35px;
    /* text-align: center;   */
    align-items: center;  
    padding-left: 15px;
    border-radius: 20px;
    color: white;    
}
.twin-button{
    display: flex;
    gap: 20px;
    
}
.button-word{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 0;
}
.button-word img{
    width: 25%;
}
/* /////SECTION---3//// */
.section-3{
    width: 100%;
    /* height: 60vh; */
    display: flex;
    justify-content: center;
    /* background-color: blue; */
}
.favorite-fram-3{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: beige; */
    /* justify-content: space-around; */
    margin-left: 70px;

}
.work{
    width: 35%;
    text-align: center;
}
.meals{
    width: 75%;
    display: flex;
    /* background-color: aqua; */
    margin: 70px 40px;
    justify-content: space-between;
}
.table{
    width: 25%;
    /* height: 1%; */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 0px;
    gap: 20px;
    box-shadow: 0px 0px 0.5em gray;
    border-radius: 10px;
}
.table h6{
    padding: 4px;
}
.table img{
    width: 50%;
}
/* /////Section 4///// */
.section-4{
    width: 100%;
    /* height: 60vh; */
    display: flex;
    justify-content: center;
    /* background-color: blue; */
}
.Testimonial{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: beige; */
    gap: 30px;
    margin-left: 70px;

}
.testyy{
    width: 35%;
    text-align: center;
}
.testyy h5{
    color: gray;
}
.profile{
    width: 60%;
    /* height: 1%; */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px 0px;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 0px 3px 2px gray;
}
.table img{
    width: 50%;
}
/* //////question Section////// */
.question-section{
    width: 100%;
    /* height: 60vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */

}
.question{
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* background-color: #FE9E0D; */
}
.question h1{
    font-size: 35px;
}
.question button{
    display: flex;    
    background-color: white;
    padding: 10px 20px;
    border: 0;
    border-radius: 30px;
    justify-content: space-between;
}
html,body{
    overflow-x: hidden;
}
.inn {
    border: 0;
    padding: 10px 0px;
    border-radius: 10px;
}
.question button h4{
    padding: 10px 20px;
    background-color:  #FE9E0D;
    border-radius: 20px;
    color: white;
}
/* //////Footer/////// */
.footer{
    width: 100%;
    /* height: 60vh; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
}
.food{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;  
}
.media{
    display: flex;
    gap: 5px;
}
.listing{
    /* width: 20%; */
    display: flex;
    flex-direction: column;
    gap: 15px;   
}
.listing a{
    text-decoration: none;
    color: black;
}
@media screen and (max-width: 950px) {
    .nav-link{
        display: none;
    }
    .first-background{
        display: none;
    }
    .favorite-fram{
        flex-direction: column;
        align-items: center;
        margin-top: -55%;
    }
    .food-intro{
        width: 100%;
        margin-top: 100%;
        margin-left: -15%;
    }
    .food-intro h1, .food-intro-2 h1{
        font-size: 40px;
    }
    .intro-food img{
        width: 100%;
        margin-left: -10%;
        
    }
    .food-intro button{
        width: 42%;
    }
    .favorite-fram-2{
        flex-direction: column-reverse;
   
    }
    .food-intro-2{
        width: 100%;
        margin-top: -30%;        
    }
    .one{
        /* width: 42%; */
        background-color: red;
    }
    .intro-food-2{
        width: 100%;
    }
    .meals{
        flex-direction: column;  
        gap: 20px;      
    }
    .table, .work{
        width: 100%;
        margin-left: -16%;
        gap: 20px;
    }
    .testyy, .profile{
        width: 100%;
        margin-left: -20%;
    }
    .question{
        width: 90%;
    }
    .question h1{
        font-size: 20px;
        width: 75%;
        margin-left: 8%;
    }
    .footer{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .food{
        margin-left: -20%;
    }
    .link-image{
        background-color: white;
    }
    .section-2{
        background: none;        
    }
    .Testimonial{
        margin-top: -15%;
    }
    .media img{
        width: 50%;
    }

}










